.swiper-container{
    width:100%;
     padding-left: 20%;
    margin-left: 10%;

            }
.swiper-wrapper{
margin-inline-start: 0%;

}
.swiper-container-horizontal{
    width:100%;
      padding-left: 20%;
    margin-left: 10%;
    
 }
 

